@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Bebas+Neue&family=Michroma&family=Orbitron:wght@600;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::placeholder {
  color: rgba(0, 0, 0, 0.605);
  font-family: "Michroma", sans-serif;
  font-size: 12px;
}

.fondo {
  background-color: rgb(198, 202, 223);
}

.row, .container, .container-fluid {
  margin: 0;
  padding: 0;
}

/*NAVEGADOR*/
.ubiquense .navegador {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  margin-top: 10px;
}
.ubiquense .navegador .barra {
  gap: 20px;
}
.ubiquense .navegador .logo {
  border-radius: 50%;
  padding: 5px;
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 50%;
  padding: 5px;
  margin: 10px;
  -webkit-animation: rotate-center 0.6s ease-in-out both;
  animation: rotate-center 0.6s ease-in-out both;
}
@-webkit-keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.ubiquense .menu {
  padding-block: 20px;
}
.ubiquense .menu :hover {
  background-color: rgb(69, 68, 68);
}
.ubiquense ul {
  list-style: none;
  display: flex;
  justify-content: end;
  gap: 10px;
}
.ubiquense ul li a {
  font-family: "Michroma", sans-serif;
  display: block;
  text-decoration: none;
  color: white;
  font-size: 16px;
  padding: 10px 5px;
  background-color: rgb(3, 74, 216);
}
.ubiquense .fa-bars {
  display: none;
}

.navegador1 {
  background-color: rgb(3, 74, 216);
}

.nabar .insignia {
  background-color: rgb(198, 202, 223);
}

/*PORTADA*/
.portada {
  color: rgb(227, 222, 222);
  text-align: center;
  background: rgb(3, 74, 216);
  font-size: 64px;
  text-shadow: 6px 6px 10px rgb(9, 9, 9);
}

h1 {
  font-family: "Michroma", sans-serif;
  font-weight: 900;
  font-size: 80px;
  align-items: center;
}

h2 {
  font-family: "Bebas Neue", cursive;
  font-weight: 300;
  letter-spacing: 2px;
  margin-bottom: 0px;
}

h3 {
  font-family: "Michroma", sans-serif;
  font-size: 34px;
  font-weight: 900;
}

/*INSIGNIA*/
.barra .insignia {
  width: 100%;
  background-color: white;
  object-fit: cover;
  box-shadow: 0px 5px 10px rgba(15, 15, 15, 0.5);
  background-size: cover;
  background-position: center center;
  height: auto;
  object-fit: cover;
  background-color: white;
  position: relative;
  padding-block: 10px;
}

/*INICIO*/
.inicio .publicidad1 {
  position: relative;
  box-shadow: 0px 5px 10px rgba(15, 15, 15, 0.5);
  max-width: 100%;
}

img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  border-radius: 5%;
  /*margin-top: 20px;*/
}

.contenido {
  position: absolute;
  top: 150px;
  left: 30px;
  width: 400px;
  height: auto;
  overflow: hidden;
  margin: 10px;
  padding: 25px;
  color: rgb(179, 193, 207);
  font-size: 20px;
  font-family: "Michroma", sans-serif;
  background-color: rgba(0, 0, 0, 0.458);
  border-radius: 30%;
  text-align: center;
  /*& :hover{
      color: $bg-color5;
  }*/
}

/*FOOTER*/
.footer {
  width: 100%;
  background-color: rgb(69, 68, 68);
  color: rgb(179, 193, 207);
  padding-block: 50px 50px;
  gap: 30px;
  letter-spacing: 2px;
  text-align: center;
  margin-top: 20px;
}
.footer .redes {
  align-items: end;
  gap: 10px;
  padding-block: 20px;
  font-size: 30px;
}
.footer .redes :hover {
  background-color: rgb(198, 202, 223);
  border-radius: 20px;
}
.footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footerList {
  list-style-type: none;
  font-family: "Michroma", sans-serif;
}

.publicidad1 a {
  text-decoration: none;
  color: rgb(179, 193, 207);
}
.publicidad1 a img {
  margin: 20px 0px 20px 0px;
}

.center {
  display: block;
}

.formulario {
  margin: 40px auto;
  padding: 0px;
  width: 70%;
  border-radius: 5%;
  background-color: rgb(3, 74, 216);
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "nombre    apellido" "edad      cedula" "mail      mail" "mensaje   mensaje" "socio     socio" "nosocio   nosocio" "enviar    enviar";
  font-family: "Michroma", sans-serif;
}
.formulario label {
  margin: 20px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  color: white;
  font-size: 20px;
}
.formulario :nth-child(1) {
  grid-area: nombre;
}
.formulario :nth-child(2) {
  grid-area: apellido;
}
.formulario :nth-child(3) {
  grid-area: edad;
}
.formulario :nth-child(4) {
  grid-area: cedula;
}
.formulario :nth-child(5) {
  grid-area: mail;
}
.formulario :nth-child(6) {
  grid-area: socio;
}
.formulario :nth-child(7) {
  grid-area: nosocio;
}
.formulario :nth-child(8) {
  grid-area: mensaje;
}
.formulario button {
  margin: 30px;
  padding: 10px;
  grid-area: enviar;
  font-size: 70%;
  border: none;
  border-radius: 10px;
  font-family: "Michroma", sans-serif;
}

.formulario label input, .formulario label textarea {
  margin: 0px;
  padding: 10px;
  background-color: rgb(3, 74, 216);
  border: none;
  border-bottom: 1px solid white;
}

.video {
  max-width: 100%;
  height: auto;
  text-align: center;
  margin: 10px 5%;
  padding: 10px 5%;
  border: 5px rgb(3, 74, 216) solid;
  margin-top: 40px;
}

.imagenNosotros {
  max-width: 10%;
}

.divNosotros {
  border-style: solid;
  border-color: rgb(3, 74, 216);
  padding: 10px;
  margin: 40px;
  box-shadow: 5px 5px 15px 5px #000000;
  border-radius: 5%;
  -webkit-animation: slide-in-elliptic-top-fwd 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-elliptic-top-fwd 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.anim1 {
  animation-delay: 1.5s;
}

.anim2 {
  animation-delay: 3s;
}

.anim3 {
  animation-delay: 4.5s;
}

@-webkit-keyframes slide-in-elliptic-top-fwd {
  0% {
    -webkit-transform: translateY(-600px) rotateX(-30deg) scale(0);
    transform: translateY(-600px) rotateX(-30deg) scale(0);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) rotateX(0) scale(1);
    transform: translateY(0) rotateX(0) scale(1);
    -webkit-transform-origin: 50% 1400px;
    transform-origin: 50% 1400px;
    opacity: 1;
  }
}
@keyframes slide-in-elliptic-top-fwd {
  0% {
    -webkit-transform: translateY(-600px) rotateX(-30deg) scale(0);
    transform: translateY(-600px) rotateX(-30deg) scale(0);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) rotateX(0) scale(1);
    transform: translateY(0) rotateX(0) scale(1);
    -webkit-transform-origin: 50% 1400px;
    transform-origin: 50% 1400px;
    opacity: 1;
  }
}
.prodImg {
  max-height: 2100px;
  width: 35%;
}

.btn-wsp {
  position: fixed;
  width: 120px;
  height: 120px;
  line-height: 80px;
  bottom: 40px;
  right: 20px;
  z-index: 2;
}
.btn-wsp :hover {
  background: rgba(255, 255, 255, 0.6078431373);
  border-radius: 5px;
}

.banner {
  box-shadow: 5px 5px 15px 5px #000000;
  margin-top: 10px;
  margin-bottom: 30px;
  border-radius: none;
}

@media (max-width: 768px) {
  .menu {
    width: 50%;
  }
  .publicidad1 {
    width: 100%;
    margin-left: 0px;
  }
  .perritosol {
    width: fit-content;
  }
  .formulario {
    width: auto;
    margin: backdrop 40px auto;
    grid-template-columns: 1fr;
    grid-template-areas: "nombre" "apellido" "edad" "cedula" "mail" "mensaje" "socio" "nosocio" "enviar";
    font-family: "Michroma", sans-serif;
  }
  .formulario button {
    font-size: large;
    margin: auto;
    padding: 10px;
  }
  .footer {
    display: flex;
    justify-content: space-between;
    width: auto;
    background-color: rgb(69, 68, 68);
    color: rgb(179, 193, 207);
    margin: 0px;
    padding: 10px;
    gap: 30px;
    letter-spacing: 2px;
    text-align: center;
  }
  .footerContainer {
    margin: auto;
  }
  .center1 {
    width: 15%;
  }
  .container .insignia {
    width: auto;
  }
  .prodImg {
    width: 60vh;
  }
  .banner {
    height: 67vh;
  }
  .btn-wsp {
    width: 12vh;
    height: 12vh;
    right: 2%;
    bottom: 6vh;
  }
}
@media (max-width: 550px) {
  .ubiquense .navegador .fa-bars {
    display: block;
    font-size: 40px;
    margin: 10px;
    color: rgb(69, 68, 68);
  }
  .ubiquense .navegador .fa-bars:hover + ul {
    right: 0;
  }
  .ubiquense .navegador ul:hover {
    right: 0;
  }
  .ubiquense .navegador .responsive {
    right: -350px;
    top: 0;
    position: fixed;
    width: 250px;
    height: 100vh;
    z-index: 5;
    flex-direction: column;
    justify-content: start;
    background-color: grey;
  }
  .ubiquense .navegador ul li {
    width: 50%;
  }
  .ubiquense .navegador ul li a {
    background-color: grey;
    padding: 0px;
    height: 10%;
  }
}
html, body {
  overflow-x: hidden;
}

@media (max-width: 480px) {
  .banner {
    height: 20%;
  }
  .publicidad1 {
    width: 100%;
    margin-left: 0px;
  }
  .publicidad1 a img {
    margin: 20px 0px 20px 0px;
  }
  .contenido {
    max-width: 80%;
    font-size: 75%;
  }
  .perritosol {
    height: fit-content;
    width: auto;
  }
  .formulario {
    width: 100%;
    padding: 0px;
    margin: backdrop 0px 0px;
    border-radius: none;
    justify-content: auto;
    background-color: rgb(99, 103, 138);
    grid-template-columns: 1fr;
    grid-template-areas: "nombre" "apellido" "edad" "cedula" "mail" "mensaje" "socio" "nosocio" "enviar";
    font-family: "Michroma", sans-serif;
  }
  .formulario label {
    max-width: 100%;
    font-size: medium;
  }
  .formulario button {
    grid-area: enviar;
    font-size: large;
    margin: auto;
    padding: 10px;
    border: none;
    border-radius: 10px;
    font-family: "Michroma", sans-serif;
  }
  .footer {
    display: flex;
    justify-content: space-between;
    width: auto;
    background-color: rgb(69, 68, 68);
    color: rgb(179, 193, 207);
    margin: 0px;
    padding: 10px;
    gap: 30px;
    letter-spacing: 2px;
    text-align: center;
  }
  .footerList {
    font-size: x-small;
  }
  .footerContainer {
    margin: auto;
  }
  .center1 {
    width: 15%;
  }
  .navegador .fa-bars {
    display: block;
    font-size: 40px;
    margin: 10px;
    color: rgb(69, 68, 68);
  }
  .container .insignia {
    width: auto;
  }
  .portada h1 {
    font-family: "Michroma", sans-serif;
    font-weight: 400;
    font-size: 32px;
    align-items: center;
  }
  .nosotrosNombre {
    font-size: 160%;
  }
  .d-flex h4 {
    font-size: 140%;
  }
  .btn-wsp {
    width: 8vh;
    height: 8vh;
    right: 2%;
    bottom: 6vh;
  }
  .prodImg {
    width: 50vh;
  }
}

/*# sourceMappingURL=style.css.map */
