
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Bebas+Neue&family=Michroma&family=Orbitron:wght@600;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box
}


::placeholder{
    color: rgba(0, 0, 0, 0.605);
    font-family: 'Michroma', sans-serif;
    font-size: 12px;
}
.fondo{
    background-color: rgb(171, 189, 230);
    
}

/*NAVEGADOR*/
.ubiquense .navegador{
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    margin-top: 10px;
}
.barra{ 
    gap: 20px ;
}
.logo{
    border-radius: 50%;
    padding: 5px;
    width: 80px ;
}

.navegador .logo{
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 50%;
    padding: 5px;
    margin: 10px;
}
.navegador .menu{
    padding-block: 20px;
}
.navegador ul {
    list-style: none;
    display: flex;
    justify-content: end;
    gap: 10px;
    
    
}
.navegador ul li a{
    font-family: 'Michroma', sans-serif;
    display: block;
    text-decoration: none;
    color: white;
    font-size: 16px;
    padding: 10px 5px;
    background-color:rgb(79, 118, 161); 
    
   
}
.menu :hover{
    background-color:rgb(69, 68, 68) ;
    
}
.navegador1{
    background-color: rgb(79, 118, 161);

}
.nabar.insignia{
    background-color: rgb(171, 189, 230);

}
.navegador .fa-bars{
    display: none;
    
}
/*PORTADA*/
.portada{
    color: black;
    text-align: center;
    /*position: relative;*/
    background-color:rgb(79, 118, 161);
    font-size: 64px;
    text-shadow: 6px 6px 10px white;
}
.portada h1{
    font-family: 'Michroma', sans-serif;
    font-weight: 900;
    font-size: 80px;
    align-items: center;
    /*margin:none;*/
   
}  
.portada h2{
    font-family: 'Bebas Neue', cursive;
    font-weight: 300;
    letter-spacing: 2px;
}
 
.portada h3{
    font-family: 'Michroma', sans-serif;
    font-size: 34px;
    font-weight: 900;
}

/*INSIGNIA*/
.barra .insignia{
    width: 100%;
    background-color: white;
    object-fit: cover;
    box-shadow: 0px 5px 10px rgba(15, 15, 15, .5);
    background-size: cover;
    background-position: center center;
    
  
}
.insignia{
    width: 100%;
    height: 400px;
    object-fit: cover;
    background-color: white;
    position: relative;
    padding-block: 10px;
    
    
}

/*INICIO*/
.inicio .publicidad1{
    position: relative;
}

.inicio .publicidad1 img{
    width: 100%;
    height: 400px;
    object-fit: cover;
    border-radius: 5%;
    margin-top: 20px;
}
.inicio .publicidad1 .contenido{
    position: absolute;
    top: 150px;
    left: 30px;
    width: 400px;
    height: auto;
    overflow: hidden;
    margin: 10px;
    padding: 25px;
    color:  rgb(179, 193, 207);
    font-size: 20px;
    font-family: 'Michroma', sans-serif;
    background-color: rgba(0, 0, 0, 0.458);
    border-radius: 30%;
    text-align: center;
    
     
}



/*FOOTER*/
.footer{
   
    width: 100%;
    background-color:rgb(69, 68, 68);
    color: rgb(179, 193, 207);
      padding-block: 50px 50px ;
    gap: 30px;
    letter-spacing: 2px;
    text-align: center;
   
}


.footerList{
    list-style-type: none;
    font-family: 'Michroma', sans-serif;
}
.footer .redes{
   
    align-items: end;
    gap: 10px;
    padding-block: 20px ;
    font-size: 30px;

}
.footer .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.publicidad1 a img{
    margin: 20px;
}
.center{
    display: block;
    /*margin-left: 10px;
    margin-right: 10px;*/
   /* margin: 10px;
    width: 300px;
    height: 300px;*/
}
/*.center1{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 5%;
    border-radius: 60%;
    
}*/
/*formulario*/
/*.formulario{
    display: flex;
    flex-wrap: wrap;
}*/
.formulario{
    width: 70%;
    margin: 40px auto;
    border-radius: 5%;
    background-color: rgb(79, 118, 161);
    display: grid;
    
    justify-content: center;
    grid-template-columns: 1fr 1fr;
  
        grid-template-areas: "nombre    apellido"
                             "edad      cedula"
                             "mail      mail"
                             "mensaje   mensaje"
                             "socio     socio"
                             "nosocio   nosocio"
                            "enviar    enviar";
   
     font-family: 'Michroma', sans-serif;
}
.formulario label{
    display: flex;
    flex-direction: column;
    color: white;
    margin: 20px;
    padding: 10px;
    font-size: 20px;
    
}

.formulario label input, .formulario label textarea{
    background-color: rgb(79, 118, 161);
    border: none;
    border-bottom: 1px solid white;
    padding: 10px;
    /*flex-wrap: wrap;*/
}

    
.formulario label:nth-child(1){
    grid-area: nombre;
    padding: 10px;

}
.formulario label:nth-child(2){
    grid-area: apellido;
    
}
.formulario label:nth-child(3){
    grid-area: edad;
    
}
.formulario label:nth-child(4){
    grid-area: cedula;
}
.formulario label:nth-child(5){
    grid-area: mail;
}
.formulario label:nth-child(6){
    grid-area: socio;
}
.formulario label:nth-child(7){
     grid-area: nosocio;
}

.formulario label:nth-child(8){
    grid-area: mensaje;
}

.formulario button{
    grid-area: enviar;
    font-size: 70%;
    margin: 20px;
    padding: 10px;
    border: none;
    border-radius: 10px;
    font-family: 'Michroma', sans-serif;
}

/*.mapa{
    margin-top: auto ;
    align-items: auto;
}*/
.video{
    text-align: center;
    margin: 5px  2.5%;
    padding: 5px 2.5%;
    border: 5px rgb(79, 118, 161) solid

}
/*
@media screen and(max-width: 768px) {
    .header{
        flex-direction: column;
    }
    */

@media(max-width:768x){
    

    .formulario{
        
        width: auto;
        margin: 40px 40px;
        border-radius: none;
        justify-content: auto;
        grid-template-columns: 1fr;
        
      
            grid-template-areas: "nombre"
                                 "apellido"
                                 "edad"
                                 "cedula"
                                 "mail"
                                 "mensaje"
                                 "socio"
                                "nosocio"
                                "enviar";
       
        font-family: 'Michroma', sans-serif;
    } 
    .formulario button{
        grid-area: enviar;
        font-size: large;
        margin: auto;
        padding: 10px;
        border: none;
        border-radius: 10px;
        font-family: 'Michroma', sans-serif;
    }
    .footer{
        display: flex;
        justify-content: space-between;
        width: auto;
        background-color:rgb(69, 68, 68);
        color: rgb(179, 193, 207);
        margin: 20px;
        padding: 10px;
        gap: 30px;
        letter-spacing: 2px;
        text-align: center;
       
    }

    .center1{
        width: 15%;
    }
    .container .insignia{
        width: auto;
       
    }
}


@media(max-width:550px){
    .navegador .fa-bars{
        display: block;
        font-size: 40px;
        margin: 10px;
        color: rgb(69, 68, 68) ;
    
    }
    .navegador .fa-bars:hover + ul{
        right: 0;
    }
    .navegador ul:hover{
        right: 0;
    }
    .navegador .responsive{
        right: -350px;
        top: 0;
        position: fixed;
        width: 250px;
        height: 100vh;
        z-index: 5;
        flex-direction: column;
        justify-content: start;
        background-color: grey;
    }
    .navegador ul li{
        width: 50%
    }
    .navegador ul li a{
        background-color: grey;
        padding: 0px;
        height: 10%;
    }
}
@media(max-width:480px){
    .formulario{
        width: auto;
        margin: backdrop 0px 0px;
        border-radius: none;
        justify-content: auto;
        background-color: rgb(99, 103, 138);
        grid-template-columns: 1fr;             
            grid-template-areas: "nombre"
                                 "apellido"
                                 "edad"
                                 "cedula"
                                 "mail"
                                 "mensaje"
                                 "socio"
                                "nosocio"
                                "enviar";
        font-family: 'Michroma', sans-serif;
    }
    
    .formulario button{
        grid-area: enviar;
        font-size: large;
        margin: auto;
        padding: 10px;
        border: none;
        border-radius: 10px;
        font-family: 'Michroma', sans-serif;
    }
    .footer{
        display: flex;
        justify-content: space-between;
        width: auto;
        background-color:rgb(69, 68, 68);
        color: rgb(179, 193, 207);
        margin: 20px;
        padding: 10px;
        gap: 30px;
        letter-spacing: 2px;
        text-align: center;
       
    }
    .center1{
        width: 15%;
    }
    .navegador .fa-bars{
        display: block;
        font-size: 40px;
        margin: 10px;
        color: rgb(69, 68, 68) ;
    
    }
    .container .insignia{
        width:auto;
    }
    .portada h1{
        font-family: 'Michroma', sans-serif;
        font-weight: 400;
        font-size: 32px;
        align-items: center;
        /*margin:none;*/
    }

    
}

    
   



    










