/*FOOTER*/
.footer{
   
    width: 100%;
    background-color:$bg-color3;
    color: $bg-color4;
      padding-block: 50px 50px ;
    gap: 30px;
    letter-spacing: 2px;
    text-align: center;

    .redes{
   
        align-items: end;
        gap: 10px;
        padding-block: 20px ;
        font-size: 30px;
    }

    .container{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

   
}

.footerList{
    list-style-type: none;
    font-family: 'Michroma', sans-serif;
}
    
 
.publicidad1{
    a img{
         margin: 20px;
    }
}
.center{
    display: block;
}