@mixin MarPad ($margen, $padding){
    margin: $margen;
    padding: $padding;
}
.formulario{
    @include MarPad(40px auto, 0px);
    width: 70%;
    border-radius: 5%;
    background-color: $bg-color2;
    display: grid;
    
    justify-content: center;
    grid-template-columns: 1fr 1fr;
  
        grid-template-areas: "nombre    apellido"
                             "edad      cedula"
                             "mail      mail"
                             "mensaje   mensaje"
                             "socio     socio"
                             "nosocio   nosocio"
                            "enviar    enviar";
   
     font-family: 'Michroma', sans-serif;

    label{
        @include MarPad(20px, 10px);
        display: flex;
        flex-direction: column;
        color: white;
        font-size: 20px;
    }
    :nth-child(1){
        @include MarPad(0px,40px);
        grid-area: nombre;
    }
    :nth-child(2){
        grid-area: apellido;
    }
    :nth-child(3){
        grid-area: edad;
    }
    :nth-child(4){
        grid-area: cedula;
    }
    :nth-child(5){
        grid-area: mail;
    }
    :nth-child(6){
        grid-area: socio;
    }
    :nth-child(7){
        grid-area: nosocio;
    }
    :nth-child(8){
        grid-area: mensaje;
    }
    button{
        @include MarPad(30px,10px);
        grid-area: enviar;
        font-size: 70%;
        border: none;
        border-radius: 10px;
        font-family: 'Michroma', sans-serif;
    }


               
}

.formulario label input, .formulario label textarea{
    @include MarPad(0px,10px);
    background-color: $bg-color2;
    border: none;
    border-bottom: 1px solid white;
}
    