@media(max-width:768px){
    .publicidad1{
        width: 97%;
        margin-left: 1px;
    }
    .perritosol{
        width: fit-content;
    }
    .formulario{
        width: auto;
        margin: backdrop 40px auto;
        grid-template-columns: 1fr;             
        grid-template-areas: "nombre"
                             "apellido"
                             "edad"
                             "cedula"
                             "mail"
                             "mensaje"
                             "socio"
                            "nosocio"
                            "enviar";
        font-family: 'Michroma', sans-serif;
    
        button{
            font-size: large;
            margin: auto;
            padding: 10px;
    }
   
    .footer{
        display: flex;
        justify-content: space-between;
        width: auto;
        background-color:$bg-color3;
        color: $bg-color4;
        margin: 20px;
        padding: 10px;
        gap: 30px;
        letter-spacing: 2px;
        text-align: center;
       
    }

    .center1{
        width: 15%;
    }
    .container .insignia{
        width: auto;
       
    }
}


@media(max-width:550px){

    .navegador .fa-bars{
        display: block;
        font-size: 40px;
        margin: 10px;
        color: $bg-color3 ;
    
    
         .fa-bars:hover + ul{
            right: 0;
         }
    
         ul:hover{
            right: 0;
         }
    
        .responsive{
            right: -350px;
            top: 0;
            position: fixed;
            width: 250px;
            height: 100vh;
            z-index: 5;
            flex-direction: column;
            justify-content: start;
            background-color: grey;
        }
    
         ul{
            li{
                width: 50%
    
                 a{
                    background-color: grey;
                    padding: 0px;
                    height: 10%;
                 }
            }  
         }
    }
}
@media(max-width:480px){
    .publicidad1{
        width: 95%;
    }
    .perritosol{
        height: fit-content;
        width: auto;
    }
    .formulario{
        width: auto;
        margin: backdrop 0px 0px;
        border-radius: none;
        justify-content: auto;
        background-color: rgb(99, 103, 138);
        grid-template-columns: 1fr;             
            grid-template-areas: "nombre"
                                 "apellido"
                                 "edad"
                                 "cedula"
                                 "mail"
                                 "mensaje"
                                 "socio"
                                "nosocio"
                                "enviar";
        font-family: 'Michroma', sans-serif;
    
    
     button{
        grid-area: enviar;
        font-size: large;
        margin: auto;
        padding: 10px;
        border: none;
        border-radius: 10px;
        font-family: 'Michroma', sans-serif;
     }
    }
    .footer{
        display: flex;
        justify-content: space-between;
        width: auto;
        background-color:$bg-color3;
        color:$bg-color4;
        margin: 20px;
        padding: 10px;
        gap: 30px;
        letter-spacing: 2px;
        text-align: center;
       
    }
    .center1{
        width: 15%;
    }
    .navegador {
        .fa-bars{
            display: block;
            font-size: 40px;
            margin: 10px;
            color: $bg-color3 ;
        }

        .ul{
            display: none;
        }
    
    }
    .container{
         .insignia{
            width:auto;
         }

        
         
         
    }
    .portada{
        h1{
            font-family: 'Michroma', sans-serif;
            font-weight: 400;
            font-size: 32px;
            align-items: center;
        }
    }
}
}