/*PORTADA*/
.portada{
    color: rgb(227, 222, 222);
    text-align: center;
    background: $bg-color2;
    font-size: 64px;
    text-shadow: 6px 6px 10px rgb(9, 9, 9);
}
     h1{
        font-family: 'Michroma', sans-serif;
        font-weight: 900;
        font-size: 80px;
        align-items: center;
   
}  
     h2{
        font-family: 'Bebas Neue', cursive;
        font-weight: 300;
        letter-spacing: 2px;
        margin-bottom: 0px;
}
 
    h3{
        font-family: 'Michroma', sans-serif;
        font-size: 34px;
        font-weight: 900;
}
