

     
.btn-wsp{
        position: fixed;
        width: 120px;
        height: 120px;
        line-height: 80px;
        bottom: 40px;
        right: 20px;
        z-index: 2;
             
        & :hover{
            background: #ffffff9b;
            border-radius: 5px;
           
            
            
        }
        
       
     }



    
