@import "variables";
@import "reset";
@import "navegador";
@import "portada";
@import "insignia";
@import "footer";
@import "formulario";
@import "video";
@import "nosotros";
@import "productos";

@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Bebas+Neue&family=Michroma&family=Orbitron:wght@600;700;900&display=swap');

@media(max-width:768px){
    .publicidad1{
        width: 97%;
        margin-left: 1px;
    }
    .perritosol{
        width: fit-content;
    }
    .formulario{
        width: auto;
        margin: backdrop 40px auto;
        grid-template-columns: 1fr;             
        grid-template-areas: "nombre"
                             "apellido"
                             "edad"
                             "cedula"
                             "mail"
                             "mensaje"
                             "socio"
                            "nosocio"
                            "enviar";
        font-family: 'Michroma', sans-serif;
    }
    .formulario button{
        font-size: large;
        margin: auto;
        padding: 10px;
    }
   
    .footer{
        display: flex;
        justify-content: space-between;
        width: auto;
        background-color:rgb(69, 68, 68);
        color: rgb(179, 193, 207);
        margin: 20px;
        padding: 10px;
        gap: 30px;
        letter-spacing: 2px;
        text-align: center;
       
    }

    .center1{
        width: 15%;
    }
    .container .insignia{
        width: auto;
       
    }
}


@media(max-width:550px){

    .ubiquense .navegador .fa-bars{
        display: block;
        font-size: 40px;
        margin: 10px;
        color: rgb(69, 68, 68) ;
    
    }
    .ubiquense .navegador .fa-bars:hover + ul{
        right: 0;
    }
    .ubiquense .navegador ul:hover{
        right: 0;
    }
    .ubiquense .navegador .responsive{
        right: -350px;
        top: 0;
        position: fixed;
        width: 250px;
        height: 100vh;
        z-index: 5;
        flex-direction: column;
        justify-content: start;
        background-color: grey;
    }
    .ubiquense .navegador ul li{
        width: 50%
    }
    .ubiquense .navegador ul li a{
        background-color: grey;
        padding: 0px;
        height: 10%;
    }
}
@media(max-width:480px){
    .publicidad1{
        width: 95%;
    }
    .publicidad1 a img{
        margin: 20px 13.5px;
    }
    .contenido{ 
        max-width: 80%;
        font-size: 75%;
    }
    .perritosol{
        height: fit-content;
        width: auto;
    }
    .formulario{
        width: 100%;
        padding: 0px;
        margin: backdrop 0px 0px;
        border-radius: none;
        justify-content: auto;
        background-color: rgb(99, 103, 138);
        grid-template-columns: 1fr;             
            grid-template-areas: "nombre"
                                 "apellido"
                                 "edad"
                                 "cedula"
                                 "mail"
                                 "mensaje"
                                 "socio"
                                "nosocio"
                                "enviar";
        font-family: 'Michroma', sans-serif;
    }
    .formulario label{
        max-width: 100%;
        font-size: medium;
    }
    .formulario button{
        grid-area: enviar;
        font-size: large;
        margin: auto;
        padding: 10px;
        border: none;
        border-radius: 10px;
        font-family: 'Michroma', sans-serif;
    }
    .footer{
        display: flex;
        justify-content: space-between;
        width: auto;
        background-color:rgb(69, 68, 68);
        color: rgb(179, 193, 207);
        margin: 0px;
        padding: 10px;
        gap: 30px;
        letter-spacing: 2px;
        text-align: center;
       
    }
    .footerList{
        font-size: x-small;
    }
    .footerContainer{
        margin: auto;
    }
    .center1{
        width: 15%;
    }
    .navegador .fa-bars{
        display: block;
        font-size: 40px;
        margin: 10px;
        color: rgb(69, 68, 68) ;
    
    }
    .container .insignia{
        width:auto;
    }
    .portada h1{
        font-family: 'Michroma', sans-serif;
        font-weight: 400;
        font-size: 32px;
        align-items: center;
    }
    .nosotrosNombre{
        font-size: 10vh;
    }
       
}


    










        
    

       

